name: Release

on:
  push:
    branches:
      - main

env:
  FORCE_COLOR: 1            # semantic-release (and unknowns)
  NPM_CONFIG_COLOR: always  # npm and friends

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          check-latest: true
          cache: npm
      - name: Configure puppeteer to cache in npm cache dir
        run: |
          printf "PUPPETEER_CACHE_DIR=%s\n" "$(npm config get cache)/puppeteer-cache" >>"$GITHUB_ENV"
      - name: Install dependencies
        run: npm ci
      - name: Release
        env:
          GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}
          WHMCSMP_LOGIN: ${{ secrets.WHMCSMP_LOGIN }}
          WHMCSMP_PASSWORD: ${{ secrets.WHMCSMP_PASSWORD }}
          WHMCSMP_PRODUCTID: "7770"
          WHMCSMP_MINVERSION: "8.10"
        run: npx semantic-release
