name: Release

on:
  push:
    branches:
      - main

env:
  FORCE_COLOR: 1            # semantic-release (and unknowns)
  NPM_CONFIG_COLOR: always  # npm and friends

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 22
          check-latest: true
          cache: npm
      - name: Configure puppeteer to cache in npm cache dir
        run: |
          printf "PUPPETEER_CACHE_DIR=%s\n" "$(npm config get cache)/puppeteer-cache" >>"$GITHUB_ENV"
      - name: Install dependencies
        run: npm ci
      - name: Release
        env:
          GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}
          WHMCSMP_LOGIN: ${{ secrets.WHMCSMP_LOGIN }}
          WHMCSMP_PASSWORD: ${{ secrets.WHMCSMP_PASSWORD }}
          WHMCSMP_PRODUCTID: "7770"
          WHMCSMP_MINVERSION: "8.10"
        run: npx semantic-release
